/*============
  google fonts
  ============ */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Poppins:wght@400;500&family=Raleway:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ==============
   common styles
   ============== */
body {
  background-color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  position: relative;
}
/* =================
     banner styles
   ================= */

nav {
  display: flex;
  align-items: center;
}
.nav-bar h3 {
  display: flex;
  padding-top: 50px;
  padding-left: 80px;
  color: #3a3a3a;
  font-size: 24px;
  font-weight: bold;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.banner-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 582px;
  height: 270px;
}
.banner-left h1 {
  width: 582px;
  height: 133px;
  color: #3a3a3a;
  font-weight: 700;
  font-size: 52px;
  line-height: 70px;
  margin-bottom: 16px;
}
.banner-left p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
}
.button {
  width: 196px;
  height: 44px;
  background: #e02c6d;
  border-radius: 41px;
  padding: 10px 24px;
  border: 0;
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
}
.banner-right {
  background-image: url();
  width: 475px;
  height: 475px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 30px 30px 2px;
}
.banner-right img {
  width: 440px;
  height: 414px;
}
.banner-right:hover img {
  transform: rotate(360deg);
  transition: transform 1s ease-in-out 0s;
}

/* ===================================
     popular collection styles start
   =================================== */

.collection-area {
  width: 1047px;
  height: 1662px;
  margin: 0 auto;
  text-align: center;
}
.section-title {
  font-size: 24px;
  padding: 15px 0;
  margin-bottom: 30px;
}
.photo-album {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.photos {
  width: 329px;
  height: 476px;
  box-shadow: 2px 2px 10px gray;
}
.photo img {
  padding-top: 15px;
}
.photo-detail {
  text-align: start;
  padding: 15px;
}
.fa-star {
  color: gold;
}
.seemore-button {
  width: 75px;
  height: 24px;
}
.seemore-button a {
  text-decoration: none;
  position: absolute;
  bottom: 400px;
  right: 75px;
  color: #e02c6d;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
}
/*=============================== 
  popular collection style end
================================= */

/*=============================
  package section style start 
=============================== */

.package-area {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 400px;
}
.package-thumbnail img {
  display: flex;
  justify-content: center;
  width: 404px;
  height: 270px;
}
.package-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: 224px;
}
.package-info h3 {
  font-size: 28px;
}
.package-info p {
  margin: 16px 0;
}
/* ====================
   package area end
   ==================== */

/* ========================
   footer area style start
   ======================== */
footer {
  width: 1200px;
  height: 239px;
  margin: 0 auto;
  background-color: #0a0826;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-area {
  color: #ffffff;
  width: 262px;
  height: 139px;
  text-align: center;
}
.fab {
  padding: 16px;
  font-size: 1.5em;
}
/*======================== 
  footer area style end
========================== */

/*============================
  Media queries for responsive
  ============================ */

/*================ Mobile phone============== */

@media only screen and (max-width: 576px) {
  .container {
    width: 360px;
    height: 100%;
  }
  .banner {
    flex-direction: column;
    flex-wrap: wrap;
    width: 375px;
    height: 100%;
  }
  .banner-left {
    flex-direction: column;
    width: 404px;
    height: 100%;
    order: 1;
  }
  .banner-left h1 {
    width: 404px;
    height: 78px;
    line-break: auto;
    font-size: 20px;
  }

  .banner-right {
    width: 257px;
    height: 257px;
  }
  .banner-right img {
    width: 202px;
    height: 190px;
    order: 2;
  }
  .collection-area {
    width: 329px;
    height: 4504px;
    font-weight: 600;
    font-size: 16px;
  }
  .photo-album {
    grid-template-columns: repeat(1, 1fr);
  }
  .package-area {
    flex-direction: column;
    width: 330px;
    height: 800px;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  .package-thumbnail img {
    width: 299px;
    height: 188px;
  }
  .package-info {
    width: 330px;
    height: 100%;
  }
  .package-info h3 {
    width: 311px;
    height: 72px;
    font-size: 24px;
  }
  .package-info p {
    width: 329px;
    height: 88px;
    font-size: 16px;
  }
  footer {
    width: 360px;
    height: 100%;
  }
}
/* ================tablet============== */

@media only screen and (min-width: 577px) and (max-width: 768px) {
  .container {
    width: 100%;
    height: 100%;
  }
  .banner {
    flex-direction: column;
  }

  .photo-album {
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
  }
  .package-area {
    flex-direction: column;
    height: 100%;
  }
  footer {
    width: 100%;
  }
}
